.multistep-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .step-form {
    margin-bottom: 20px;
  }
  
  .step-heading {
    color: red;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  
  /* select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z" fill="#000"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
  }
   */
  
  input:required {
    border-color: red;
  }
  
  /* Additional styling for error message */
  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }

  h2 {
      color: red;
  }
  